<!DOCTYPE html>
<html>
<head>
  <title>Smartscore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'common/navbar' %>

<div class="container">
  <%- flash.to_hash.each_pair do |key, value| %>
    <div class="alert alert-dismissable <%= "alert-#{key}" %>">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <p><%= value %></p>
    </div>
  <%- end %>
  <div class="row">
    <%- unless current_page? '/' %>
      <div class="col-lg-8 col-lg-offset-2">
        <%= yield %>
      </div>
    <%- else %>
      <%= yield %>
    <%- end %>
  </div>
</div>

</body>
</html>
